Project 3 Part 1

Senait Abate

In [119]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [120]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [121]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [122]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [ ]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)

ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

akas = pd.read_csv(akas_url,sep='\t', low_memory=False)

Basics Cleaning

In [124]:
#reviewing data and checking for missing values
print(basics.info(), '\n')
print(basics.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9156715 entries, 0 to 9156714
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 628.7+ MB
None

tconst             0
titleType          0
primaryTitle      10
originalTitle     10
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [125]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [126]:
#Replace "\N" with np.nan
basics.replace({'\\N':np.nan}, inplace=True)

In [127]:
#confirming 6695269 missing values in runtimeMinutes column
basics[basics['runtimeMinutes'].isnull()]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,NaN,NaN,"Comedy,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895,NaN,NaN,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1895,NaN,NaN,"News,Short,Sport"
36,tt0000038,short,The Ball Game,The Ball Game,0,1898,NaN,NaN,"Documentary,Short,Sport"
37,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,NaN,NaN,Short
...,...,...,...,...,...,...,...,...,...
9156708,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2010,NaN,NaN,"Action,Drama,Family"
9156709,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2010,NaN,NaN,"Action,Drama,Family"
9156710,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9156711,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9156712,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"

In [128]:
#Eliminate movies that are null for runtimeMinutes
basics = basics.dropna(axis=0, subset=['runtimeMinutes'])

In [129]:
basics[basics['genres'].isnull()]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
1616,tt0001630,movie,Der fremde Vogel,Der fremde Vogel,0,1911,NaN,45,NaN
1739,tt0001756,movie,Lucha por la herencia,Lucha por la herencia,0,1911,NaN,92,NaN
2069,tt0002094,movie,Charles IV,Charles IV,0,1912,NaN,50,NaN
2289,tt0002315,movie,El lobo de la sierra,El lobo de la sierra,0,1912,NaN,76,NaN
...,...,...,...,...,...,...,...,...,...
9155330,tt9913834,movie,Hiniku: Nure nawazeme,Hiniku: Nure nawazeme,0,1981,NaN,64,NaN
9155351,tt9913878,movie,Document porno: Yubi ijime,Document porno: Yubi ijime,0,1981,NaN,61,NaN
9155927,tt9915130,movie,Meet John Doe,Meet John Doe,0,NaN,NaN,120,NaN
9156370,tt9916134,movie,The Thing in the Bag,The Thing in the Bag,0,NaN,NaN,78,NaN
9156655,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN

In [130]:
#Eliminate movies that are null for genres
basics = basics.dropna(axis=0, subset=['genres'])

In [131]:
#reviewing subtypes of titleType column
basics['titleType'].value_counts()

tvEpisode       1062386
short            573540
movie            366517
video            174859
tvMovie           88227
tvSeries          86445
tvSpecial         16443
tvMiniSeries      16032
tvShort            9374
videoGame           294
Name: titleType, dtype: int64

In [153]:
#keep only titleType==Movie
basics = basics.drop(basics[basics['titleType'] != 'movie'].index)

In [133]:
#confirming only movie subtype in titleType column
basics['titleType'].value_counts()

movie    366517
Name: titleType, dtype: int64

In [134]:
#checking subtypes for startYear
basics['startYear'].value_counts()

2017    14182
2018    14125
2016    13811
2019    13792
2015    13323
        ...
1894        1
1899        1
1904        1
1906        1
1896        1
Name: startYear, Length: 129, dtype: int64

In [154]:
#drop all values less than 2000
basics = basics.drop(basics[basics['startYear'] <= '1999'].index)

In [155]:
#confirm startYear 2000-2022
basics['startYear'].value_counts()

2017    14182
2018    14125
2016    13811
2019    13792
2015    13323
2014    12978
2013    12270
2021    11701
2012    11537
2020    11242
2011    10676
2010    10116
2009     9264
2008     8068
2022     7505
2007     6882
2006     6429
2005     5760
2004     5130
2003     4526
2002     4084
2001     3811
2000     3590
2023      305
2024       30
2025        8
2026        2
2027        1
Name: startYear, dtype: int64

In [156]:
#exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [158]:
#confirm documentary not in genres column
starts_doc = basics['genres'].str.startswith('doc', 'Doc')

In [159]:
basics[starts_doc]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

Akas Cleaning

In [160]:
#Replace "\N" with np.nan
akas.replace({'\\N':np.nan}, inplace=True)

In [161]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [163]:
#checking value counts for region column to confirm abbv are countries
akas['region'].value_counts()

FR    3924053
JP    3923677
DE    3907095
IN    3851836
ES    3847246
       ...
TV          1
NU          1
PW          1
NR          1
TC          1
Name: region, Length: 246, dtype: int64

In [164]:
#review US count in region column
akas.loc[akas['region'] == 'US']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
32873989,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
32874026,tt9916720,10,The Demonic Nun,US,NaN,tv,NaN,0
32874028,tt9916720,12,The Nun 2,US,NaN,imdbDisplay,NaN,0
32874045,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
32874061,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

In [165]:
#drop all values less than 2000
akas = akas.drop(akas[akas['region'] != 'US'].index)

In [166]:
#confirm only US region
akas['region'].value_counts()

US    1342956
Name: region, dtype: int64

Ratings Cleaning

In [167]:
#reviewing data and checking for missing values
print(ratings.info(), '\n')
print(ratings.isna().sum())

#no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1263582 entries, 0 to 1263581
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1263582 non-null  object
 1   averageRating  1263582 non-null  float64
 2   numVotes       1263582 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB
None

tconst           0
averageRating    0
numVotes         0
dtype: int64

Filter basics df based on akas df

In [168]:
#filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34790       True
61089       True
67635       True
77929      False
78416      False
           ...
9156387     True
9156396     True
9156435    False
9156480     True
9156564    False
Name: tconst, Length: 146766, dtype: bool

In [169]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61089,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67635,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86766,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
92731,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy
...,...,...,...,...,...,...,...,...,...
9155851,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9156247,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9156387,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9156396,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9156480,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

Create data folder

In [170]:
#save current basics dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [171]:
#open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016.0,NaN,74,Comedy

In [172]:
#save current ratings dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [173]:
#open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.9       256
2  tt0000003            6.5      1702
3  tt0000004            5.7       168
4  tt0000005            6.2      2517

In [174]:
#save current akas dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [175]:
#open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0